/GenericQtProject/.vscode
/GenericQtProject/build
/Thread/build
/Thread/.vscode
/ImageSliceOutline/.vscode
/ImageSliceOutline/build
/RestartApplication/build
/RestartApplication/.vscode
/SerialPort/.vscode
/SerialPort/build
/LineChart/.vscode
/LineChart/build
/Log4Qt/.vscode
/Log4Qt/build
/LocalIPC/build
/LocalIPC/.vscode
/MemoryLeakDetectCRT/.vscode
/MemoryLeakDetectCRT/build
/MemoryLeakDetectVLD/.vscode
/MemoryLeakDetectVLD/build
/Doxygen/build
/Doxygen/.vscode
/LocalIPCAdvanced/.vscode
/LocalIPCAdvanced/build
/QImageToQJsonValue/build
/QImageToQJsonValue/.vscode
/ExternalCall/.vscode
/ExternalCall/build
/LocalIPCAdvanced/server/.vscode
/LocalIPCAdvanced/vscode-build-server
/LocalIPCAdvanced/vscode-build-client
/LocalIPCAdvanced/client/.vscode
/LocalIPCAdvanced/client/build
/LocalIPCAdvanced/server/build
/BinarySerialization/build
/BinarySerialization/.vscode
/ThreadPool/.vscode
/ThreadPool/build
/UnitTest/.vscode
/UnitTest/build
/GoogleTest/.vscode
/GoogleTest/build
/Database/.vscode
/Database/build
/PreventAltAndF4/.vscode
/PreventAltAndF4/build
/TwoWindows/.vscode
/TwoWindows/build
/QProperty/.vscode
/QProperty/build
/StateMachine/.vscode
/StateMachine/build
/ShowVersion/.vscode
/ShowVersion/build
/Dialog/.vscode
/Dialog/build
/TouchEvent/.vscode
/TouchEvent/build
/EventLoop/.vscode
/EventLoop/build
/SendImageViaLocalSocket/.vscode
/SendImageViaLocalSocket/build
/LocalIPC/client/.vscode
/LocalIPC/client/build
/testPacket/.vscode
/testPacket/build
