/GenericQtProject/.vscode
/GenericQtProject/build
/Thread/build
/Thread/.vscode
/ImageSliceOutline/.vscode
/ImageSliceOutline/build
/RestartApplication/build
/RestartApplication/.vscode
/SerialPort/.vscode
/SerialPort/build
/LineChart/.vscode
/LineChart/build
/Log4Qt/.vscode
/Log4Qt/build
/LocalIPC/build
/LocalIPC/.vscode
/MemoryLeakDetectCRT/.vscode
/MemoryLeakDetectCRT/build
/MemoryLeakDetectVLD/.vscode
/MemoryLeakDetectVLD/build
/Doxygen/build
/Doxygen/.vscode
/LocalIPCAdvanced/.vscode
/LocalIPCAdvanced/build
/QImageToQJsonValue/build
/QImageToQJsonValue/.vscode
