/GenericQtProject/.vscode
/GenericQtProject/build
/Thread/build
/Thread/.vscode
/ImageSliceOutline/.vscode
/ImageSliceOutline/build
/RestartApplication/build
/RestartApplication/.vscode
/SerialPort/.vscode
/SerialPort/build
